.numbers {
    display: inline-block;
    background: blue;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 20px;
    margin: 20px;
}


.numbersBox, .btn {
    margin: auto;
    width: 60%;
    text-align: center;
}
p {
    color: #fff;
    font-weight: bold;
}
.button {
    background: darkorchid;
    outline: none;
    color: #fff;
    width: 150px;
    padding: 20px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    margin: 20px;
}